<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <meta charset="UTF-8">
    <title>Game of life</title>
</head>
<body>
<div class="mainBox">
    {% for line in grid %}
        <div>
        {% for cell in line %}
            {% if cell %}
            <div class="cellBox aliveCell"></div>
            {% else %}
            <div class="cellBox deathCell"></div>
            {% endif %}
        {% endfor %}
        </div>
    {% endfor %}
</div>
{% if game_over %}
    <div class="gameOver">
        Игра закончена
    </div>
{% else %}
    <div class="buttonNext">
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Следующий шаг">
        </form>
    </div>
{% endif %}
</body>
</html>